body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1E293B;
    background: #EEEFF4;
}
body *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
.df{
    display: flex;
}
.f-column{
    flex-direction: column;
}
.f-wrap{
    flex-wrap: wrap;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.j-spc-btw{
    justify-content: space-between;
}
.a-end{
    align-items: flex-end;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
}
.header__logo{
    max-width: 335px;
    width: 100%;
}
.logo{
    font-family: Inter, sans-serif;
    color: #2563EB;
    font-weight: 900;
    font-size: 36px;
}

.menu__link{
    font-size: 16px;
    font-weight: 400;
    color: #1E293B;
}
header{
    height: 90px;
    background: #fff;
}
.menu__item{
    padding: 17px 34px 17px 35px;
    border-left: 1px solid rgba(100, 116, 139, .2);

}
.menu__item:last-child{
    border-right: 1px solid rgba(100, 116, 139, .2);
}
.header__profile{
    margin-left: auto;
}
.notification{
    width: 26px;
    height: 26px;
    background: url('../images/notification.svg') #EDF2F8 center center;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.notification__count{
    background: #10B981;
    bottom: 0;
    right: -4px;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    height: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
}
.header__profile{
    gap: 19px;
}
aside{
    max-width: 315px;
    width: 100%;

}
section{
    padding-top: 30px;
}
.aside__block{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px 30px 40px;
    margin-bottom: 20px;
}
.aside__msg{
    margin-left: auto;
    background: #10B981;
    color: #fff;
    padding: 2px 9px;
    font-size: 14px;
    border-radius: 124px;
}
.aside__item{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.aside__link{
    font-size: 16px;
    color: #1E293B;
    gap: 10px;
}
.aside__item:nth-last-child(2){
    margin-bottom: 30px;
}
.aside__item:last-child{
    padding-top: 20px;
    border-top: 1px solid #CACACA;
}
.section__title{
    color: #1E293B;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn{
    outline: none;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Roboto, sans-serif;
}
.cargo__item{
    gap: 11px;
    display: none;
}
.cargo__icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDF2F8;
}
.cargo__icon--package{
    background: #E9F5E5;
}
.cargo{
    gap: 15px;
    margin-bottom: 30px;
}
.cargo__name{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}
.cargo__desc{
    color: #64748B;
    font-size: 14px;
}
.btn__cargo{
    width: 20px;
    height: 4px;
    background: url('../images/more.svg') no-repeat;
    margin-left: auto;
    margin-top: 13px;
    margin-bottom: auto;
}
.btn__more{
    width: 100%;
    background: #EDF2F8;
    border-radius: 10px;
    height: 42px;
    font-size: 14px;

}
.cargo__item:nth-child(-n+3) {
    display: flex;
}
main{
    width: calc(100% - 335px);
}
.banner{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
}
.banner__img{
    height: 240px;

}
.banner__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__info{
    padding: 20px 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    border-bottom: 1px solid rgba(158, 171, 189, .2);
    gap: 15px;
}
.profile__img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.profile__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.profile__actions h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.profile__buttons{
    gap: 10px;
}
.btn__blue{
    height: 32px;
    background: #2563EB;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 19px;
}
.btn__gray{
    border-radius: 7px;
    color: #1E293B;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 19px;
    background: #EDF2F8;
}
.btn__more-info{
    border-radius: 7px;
    color: #1E293B;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 19px;
    background: url('../images/more-white.svg') #1E293B center;
    background-repeat: no-repeat;
}
.profile__links{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.profile__link{
    padding-bottom: 15px;
    position: relative;
    color: #1E293B;
}
.profile__link a{
    color: #1E293B;
}
.profile__link--active:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 5px;
    background: #2563EB;
    bottom: 0;
    left: 0;

}
.profile__link--active a{
    font-weight: 500;
}
.profile__links ul{
    gap: 40px;
}
.post{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.profile__aside{
    max-width: 316px;
    width: 100%;

}
.posts{
    width: calc(100% - 336px);
}
.post__img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.post__header{
    gap: 10px;
    margin-bottom: 15px;
}
.status__active{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #10B981;
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 4px;
    right: 3px;
}
.post__user{
    font-size: 16px;
    font-weight: 400;
}
.btn__post-more{
    width: 20px;
    height: 4px;
    background: url('../images/more.svg') no-repeat;
    margin-left: auto;
}
.post__footer{
    margin-top: 20px;
}
.post__actions{
    gap: 20px;
}
.btn__like{
    padding-left: 23px;
    background: url('../images/like.svg') no-repeat left center;
    color: #64748B;
    font-size: 14px;
    font-weight: 500;
}
.btn__comment{
    padding-left: 23px;
    background: url('../images/comment.svg') no-repeat left center;
    color: #64748B;
    font-size: 14px;
    font-weight: 500;
}
.btn__share{
    width: 18px;
    height: 18px;
    background: url('../images/share.svg') no-repeat left center;
    color: #64748B;
    font-size: 14px;
    font-weight: 500;
}
.post__date{
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
}
.post__content{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.post__content img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.aside__contacts{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.contact__info{
    border-top: 1px solid rgba(158, 171, 189, .2);
    padding-top: 20px;
}
.company__name{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 7px;
}
.review{
    gap: 7px;
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}
.company__desc{
    color: #64748B;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}
.company__phone{
    color: #1E293B;
    padding-left: 27px;
    background: url('../images/phone.svg') no-repeat left center;
    margin-bottom: 30px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}
.btn__request{
    height: 42px;
    width: 100%;
}
.order__item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(158, 171, 189, .2)

}
.order__item:last-child{
    border-bottom: 1px solid rgba(158, 171, 189, .2)

}
.order__place{
    gap: 10px;
    position: relative;
    padding-left: 22px;
}

.order__place:before{
    content: '';
    width: 8px;
    height: 8px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background: url('../images/plus.svg') no-repeat;
    z-index: 1;
}
.order__place:after{
    content: '';
    width: 8px;
    height: 100%;
    left: 0;
    top: 3px;
    position: absolute;
    background: url('../images/arrow.svg') no-repeat;
    background-size: 100%;
}
.order__info{
    gap: 10px;
}
.order__number{
    font-size: 12px;
    color: #64748B;
}
.start__place{
    font-size: 12px;
}
.end__place{
    font-size: 12px;
}
.orders{
    margin-bottom: 30px;
}
.btn__show-more{
    height: 42px;
    width: 100%;
}
.order{
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
}
.order__header{
    color: #64748B;
    font-size: 12px;
    padding-bottom: 10px;
}
.order__number--header{
    width: 152px;

}
.order__route--header{
   width: 180px;

}
.order__date--header{
    width: 185px;

}
.order__weight--header{
    width: 133px ;


}
.order__price--header{
    width: 119px;
}

.order__body{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(158, 171, 189, .2);
}
.order__number-info{
    gap: 7px;
    width: 152px;
}
.order__dest{
    font-size: 12px;
    color: #64748B;
}
.order__body .cargo__icon{
    width: 40px;
    height: 40px;
}
.order__body .cargo__icon img{
    width: 20px;
    height: 20px;
}
.order__body .order__place{
    padding-left: 14px;
    width: 180px;
}
.order__date{
    font-size: 12px;
   width: 185px;
}
.order__date span{
    color: #64748B;
    margin-left: 3px;
}
.order__weight{
    color: #64748B;
    font-size: 12px;
    width: 133px ;
}
.order__price{
    font-size: 12px;
    max-width: 119px;
    width: 100%;
}

.order{
    overflow-x: auto;
    white-space: nowrap;
}
.cars{
    overflow-x: auto;
    white-space: nowrap;
}

.order__list {
    width: 925px;

}

.order__body .btn__gray{
    width: 150px;
    height: 38px;
}
.order{
    margin-bottom: 20px;
}
.reviews{
    width: calc(100% - 335px);
    background: #fff;
    border-radius: 10px ;
    padding: 30px;
}
.review__title{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;

}
.review__title span{
    color: #2563EB;
}
.review__user--info{
    gap: 10px;
}
.review__user--info img{
    width: 50px;
    height: 50px;
}
.review__user--name{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}
.review__user--date{
    color: #64748B;
    font-size: 14px;
}
.review__stars{
    margin-top: 10px;
}
.review__stars img{
    width: 75px;
}
.review__stars p{
    color: #64748B;
    font-size: 14px;
    margin-left: 10px;
}
.review__body{
    margin-top: 11px;
    font-size: 14px;

}
.review__answer{
    margin-top: 20px;
    padding-left: 60px;
}
.review__item{
    margin-bottom: 50px;
}
.filters{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.filter__col{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.filter__row{
    gap: 15px;
}
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: transparent;
    width: 200px;
    height: 38px;
    border: 1px solid #A1B1C8;
    border-radius: 5px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 13px;
    right: 15px;
    width: 11px;
    height: 11px;
    background: url('../images/select.svg') no-repeat;
    transition: all .3s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    top: 13px;
    right: 15px;
    transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #1E293B;
    padding: 11px 15px;
    border: 1px solid #A1B1C8;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}

.select-items div{
    border: none;
    border-bottom: 1px solid #A1B1C8;
}
.select-items div:last-child{
    border-bottom: 0;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #A1B1C8;
}

.select-arrow-active{
    border-bottom: 0;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.filter__input{
    border: 1px solid  #A1B1C8;
    border-radius: 5px;
    height: 38px;
    width: 200px;
    padding: 11px 15px;
    font-size: 14px;

}
.filter__input::placeholder{
    color: #A8B2BF;
}
.input__block{
    position: relative;
}
.place__icon{
    position: absolute;
    width: 17px;
    height: 17px;
    background: url('../images/pin.svg') no-repeat;
    right: 12px;
    top: 10px;
}
.btn__add{
    height: 38px;
    width: 219px;
    gap: 5px;
}
.cars{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}
.car__type--header{
    padding-left: 60px;
    color: #64748B;
    font-size: 12px;
    width: 229px;
}
.car__start--header{
    color: #64748B;
    font-size: 12px;
    width: 196px;
}

.car__end--header{
    color: #64748B;
    font-size: 12px;
   width: 196px;
}
.car__price--header{
    color: #64748B;
    font-size: 12px;
   width: 140px;
}

.car__more--header{
    width: 164px;
}
.car__header{
    padding-bottom: 20px;
}
.car__number-info{
    width: 229px;
    gap: 10px;
}
.car__type{
    font-size: 12px;
    color: #1E293B;
    margin-bottom: 8px;
}
.car__desc{
    font-size: 12px;
   width: 129px;

    color: #64748B;
}
.car__place--start .start__place{
    color: #1E293B;
    margin-bottom: 8px;
}
.car__place--start .start__place--desc{
    font-size: 12px;
    color: #64748B;

}
.car__place--start{
    width: 196px;
}
.car__place--end{
    width: 196px;
}
.car__place--end .end__place{
    color: #1E293B;
    margin-bottom: 8px;
}
.car__place--end .end__place--desc{
    font-size: 12px;
    color: #64748B;

}
.car__price{
   width: 140px;
}
.car__price .start__price{
    color: #1E293B;
    font-size: 12px;
    margin-bottom: 8px;
}
.car__price .end__price{
    color: #1E293B;
    font-size: 12px;
}
.car__button .btn__blue{
    width: 119px;
    height: 36px;
}
.car__driver{
    margin-top: 20px;
    text-align: right;
    color: #64748B;
    font-size: 12px;
    margin-bottom: 5px;
}
.car__list{
    width: 925px;
}
.order__show--more{
    padding-top: 20px;
    border-top: 1px solid #ECEEF2;
}
.btn__show--more{
    color: #64748B;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 23px;
    background: url('../images/arrow-down.svg') no-repeat right center;
}
.btn__user--more{
    width: 20px;
    height: 4px;
    background: url('../images/more-gray.svg') no-repeat;
}
.user__info{
    gap: 10px;

}
.user__info img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.user__name{
    color: #1E293B;
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: 400;
}
.user__time{
    font-size: 12px;
    color: #64748B;
}
.user{
    padding: 20px 30px;
    border-bottom: 1px solid rgba(158, 171, 189, .2);
}
.add-review{
    background: #fff;
    border-radius: 10px;
    max-width: calc(100% - 335px);
    width: 100%;
}
.review__content{
    min-height: 770px;
    padding: 40px 30px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.review__form{
    height: 60px;
    padding: 20px 30px;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid rgba(158, 171, 189, .2);
}
.btn__file{
    width: 20px;
    height: 20px;
    background: url('../images/file.svg') no-repeat;
    margin-right: 20px;
}
.review__input{
    border: none;
    height: 100%;
    font-size: 14px;
    width: 100%;
}
::placeholder{
    color: #64748B;
}
.btn__smiles{
    width: 23px;
    height: 20px;
    background: url('../images/smile.svg') no-repeat;
    margin-right: 20px;
}
.btn__records{
    width: 20px;
    height: 20px;
    background: url('../images/mic.svg') no-repeat;
    background-size: 100% 100%;

}
.add-review .review__user--info > img{
    width: 30px;
    height: 30px;
}
.add-review .review__user--name{
    color: #303A46;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}
.add-review .review__body{
    margin-top: 0;
    font-size: 14px;
}
.add-review .review__body img{
    max-width: 360px;
    width: 100%;
    height:auto;
    margin-top: 10px;
    border-radius: 10px;
}
.add-review .review__user--name span{
    color: #A8B2BF;
    font-weight: 400;
    font-size: 14px;
}
.add-review .review__item{
    margin-bottom: 20px;
}
.add-review .review__item:last-child{
    margin-bottom: 0;
}
.review__date span{
    font-size: 12px;
    color: #A8B2BF;
    margin-left: 5px;
}
.btn__add-review{
    width: 26px;
    height: 26px;
    background: url('../images/new.svg') #EDF2F8 center no-repeat;
    border-radius: 5px;
}
.btn__archive{
    width: 26px;
    height: 26px;
    background: url('../images/archive.svg') #EDF2F8 center no-repeat;
    border-radius: 5px;
}
.btn__settings{
    width: 26px;
    height: 26px;
    background: url('../images/review-settings.svg') #EDF2F8 center no-repeat;
    border-radius: 5px;
}
.review__actions{
    gap: 8px;
}
.search{
    margin-top: 20px;
    position: relative;
}
.search__input{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #EDF2F8;
    height: 36px;
    padding-left: 41px;
    padding-right: 20px;
    font-size: 14px;
    color: #64748B;
}

.search__icon{
    width: 16px;
    height: 16px;
    background: url('../images/search.svg') no-repeat;
    position: absolute;
    left: 15px;
    top: 10px;
}
.contact__list{
    margin-top: 20px;
}
.contact__item img{
    width: 50px;
    height: 50px;
}
.contact__item{
    gap: 10px;
    margin-bottom: 15px;
}
.contact__item:last-child{
    margin-bottom: 0;
}
.contact__item--title{
    color: #1E293B;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.msg__count{
    width: 20px;
    height: 20px;
    background: #10B981;
    color: #fff;
    font-size: 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__item--text{
    font-size: 14px;
    color: #64748B;
}
.btn__aside{
    display: none;
}
.btn__mobile{
    display: none;
}

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
    font-family: Inter, sans-serif;
    text-align: left;
}

.panel {
    padding: 0 30px 30px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.promo-banner{
    height: 527px;
}
.promo-banner__content{
    height: 100%;
    background: #fff;
    padding: 45px;
    align-items: flex-start;
    border-radius: 20px;
}
.promo-banner__title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 32px;
    font-family: Inter, sans-serif;
}
.promo-banner__sub{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Inter, sans-serif;
}
.promo-banner__text{
    max-width: 535px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    font-family: Inter, sans-serif;
}
.btn__registration{
    height: 59px;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 111px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo-features{
    padding-top: 80px;
}
.promo-features__content{
    gap: 60px;
}
.promo-features__right{
    max-width: 650px;
    width: 100%;
}
.promo-features__left{
    max-width: calc(100% - 710px);
    width: 100%;
    background: #fff;
    border-radius: 20px;
}
.promo-features__left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promo-section__title{
    font-size: 36px;
    font-weight: 700;
    font-family: Inter, sans-serif;
    margin-bottom: 60px;
}
.features__list{
    gap: 60px 80px;
    margin-bottom: 24px;
}
.feature__item{
    width: calc(100%/2 - 40px);
}
.feature__item--icon{
    width: 70px;
    height: 70px;
    background: #fff;
    margin-bottom: 20px;
}
.feature__title{
    font-size: 20px;
    font-weight: 700;
    font-family: Inter, sans-serif;
    margin-bottom: 10px;
}
.feature__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;

}
.promo-how-to-work{
    padding-top: 150px;
}
.promo-how-to-work__content .promo-section__title{
    margin-bottom: 50px;
}
.how-to-work__list{
    gap: 20px;
}
.how-to-work__item{
    padding: 30px;
    height: 304px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
}
.how-to-work__title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
}
.how-to-work__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;

}
.promo-for-who{
    padding-top: 159px;
}
.promo-for-who .promo-section__title{
    margin-bottom: 50px;
}
.for-who__list{
    gap: 20px;
}
.for-who__item{
    background: #fff;
    height: 517px;
    border-radius: 20px;
    align-items: flex-start;
    padding: 30px;
}
.for-who__title{
    font-size: 20px;
    font-weight: 700;
    font-family: Inter, sans-serif;
    margin-bottom: 10px;
}
.for-who__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;

}
.for-who__item .btn__registration{
    margin-top: auto;
}
.promo-reviews{
    padding-top: 159px;
}
.promo-reviews .promo-section__title{
    margin-bottom: 50px;
}
.promo-reviews__list{
    gap: 20px;
    
}
.promo-reviews__item{
    background: #fff;
    padding:30px 59px 40px 30px;
    border-radius: 20px;
}
.promo-reviews__user{
    margin-bottom: 22px;
    gap: 20px;
}
.promo-reviews__user--img{
    width: 86px;
    height: 89px;
    background: #909090;
    border-radius: 20px;
}
.promo-reviews__user--info h3{
    font-size: 20px;
    font-weight: 700;
    font-family: Inter, sans-serif;
    margin-bottom: 5px;
    gap: 10px;
}
.promo-reviews__user--info h3 span{
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 400;
}
.promo-reviews__user--info p{
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter, sans-serif;

}
.promo-reviews__content{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    line-height: 1.4;
}
.promo{
    padding-top: 159px;
}
.promo__content {
    background: #fff;
    min-height: 356px;
    border-radius: 20px;
    padding-right: 61px;
    gap: 20px;
}
.promo__content--right{
    max-width: 567px;
    width: 100%;
    align-items: flex-start;
}
.promo__content--left{
    max-width: calc(100% - 587px);
    width: 100%;

}
.promo__content--right .promo-section__title{
    margin-bottom: 25px;
    font-size: 32px;

}
.section__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin-bottom: 50px;
    line-height: 1.4;
}
.promo__content--right  .btn__registration{
    padding-left: 40px;
    padding-right: 40px;
}
.promo-faq{
    padding-top: 159px;
}
.promo-faq .promo-section__title{
    margin-bottom: 43px;
}
.faq{
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.faq:last-child{
    margin-bottom: 0;
}
.faq .panel{
    font-size: 16px;
    line-height: 1.4;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.faq .panel p{
    margin-bottom: 20px;
}
.faq .panel ul{
    list-style: disc;
    padding-left: 20px;
}
.promo-seo{
    padding-top: 159px;
}
.promo-seo__content{
    background: #fff;
    padding: 40px 53px 60px 30px;
    border-radius: 20px;

}
.promo-seo .promo-section__title{
    margin-bottom: 30px;
}
.promo-seo__desc{
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}
.promo-seo__desc p{
    margin-bottom: 20px;
}
.promo-seo__desc p:last-child{
    margin-bottom: 0;
}
footer{
    margin-top: 136px;
    background: #fff;
    padding-top: 44px;
    padding-bottom: 25px;
}

.footer__menu{
    gap: 10px;
    min-width: 200px;

}
.footer__link{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #1E293B;
}

.footer__copyright{
    margin-top: 53px;
    color: #7C7E82;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
header .btn__login{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    border-radius: 111px;
    height: 39px;
}
.header__actions {
    margin-left: auto;
    gap: 15px;
}
.header__actions .btn__registration{
    height: 39px;
    padding-left: 20px;
    padding-right: 20px;
}
.registration__content{
    background: #fff;
    border-radius: 20px;
    max-width: 558px;
    margin: 0 auto;
    padding: 60px 50px 50px;

}
.registration__title{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
}
.registration__text{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin-bottom: 40px;
}
.form__row{
    margin-bottom: 25px;
}
.form__row .custom-select, .select-items div, .select-selected{
    width: 100%;
}
.form__row .select-selected{
    height: 68px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Inter, sans-serif;
    background: #EEEEEE;
    border: none;

}
.registration__form .select-selected:after{
    background: url('../images/arrow-down-reg.svg') no-repeat;
    width: 28px;
    height: 28px;
    top: 20px;
    right: 20px;
}
.form__row label{
    font-size: 12px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin-bottom: 5px;
}
.form__input{
    height: 46px;
    background: #EEEEEE;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    outline: none;
}
#phone{
    padding-left: 76px;
}
.phone__code{
    width: 56px;
    height: 46px;
    position: absolute;
    background: #CFCFCF;
    bottom: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.checkbox__row{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    
}
.checkbox__row input[type=checkbox]{
    background: #D8D8D8;
    border: none;
}
.registration__form .btn__registration{
    width: 100%;
    border-radius: 5px;
    height: 68px;
    margin-bottom: 25px;
}
.form__row:last-child{
    margin-bottom: 0;

}
.form__row a{
    color: #3C8AFF;
    font-size: 14px;
    font-family: Inter, sans-serif;

}
.registration{
    padding-top: 120px;
    padding-bottom: 120px;
}
.registration__form .select-items{
    background: #EEEEEE;

}
