
@media screen and (max-width: 1340px){
    .container{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*.car__list{*/
    /*    width:905px;*/
    /*    overflow-x: auto;*/
    /*}*/
    /*.cars{*/
    /*    overflow: hidden;*/
    /*}*/
    .car__type--header{
        padding-left: 0;
    }
}
@media screen and (max-width: 1240px){
    .aside__block{
        padding: 20px 15px;
    }
    aside{
        max-width: 280px;
    }
    main {
        width: calc(100% - 300px);
    }
    .header__logo{
        max-width: 280px;
    }
    .menu__item{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 1100px){
    .filters{
        flex-direction: column;
        gap: 20px;
    }
    .review__user--info{
        flex-direction: column;
    }
    .review__date{
        margin-left: auto;
    }
    .features__list{
        gap: 20px;
    }
    .feature__item {
        width: calc(100% / 2 - 10px);
    }
    .promo-features__right{
        max-width: 500px;
    }
    .feature__text{
        font-size: 14px;
    }
    .feature__title{
        font-size: 18px;
    }
    .promo-features__content{
        gap: 20px;
    }
    .promo-features__left{
        max-width: calc(100% - 520px);
    }
    .promo-section__title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .promo-features{
        padding-top: 40px;
    }
    .promo-how-to-work{
        padding-top: 100px;
    }
    .promo-how-to-work__content .promo-section__title{
        margin-bottom: 40px;
    }
    .promo-for-who{
        padding-top: 100px;
    }
    .promo-reviews{
        padding-top: 100px;
    }
    .promo{
        padding-top: 100px;
    }
    .promo-faq{
        padding-top: 100px;
    }
    .promo-seo{
        padding-top: 100px;
    }
    footer{
        margin-top: 100px;
    }
    .promo-for-who .promo-section__title{
        margin-bottom: 40px;
    }

}
@media screen and (max-width: 1024px){
    .profile__content{
        flex-direction: column;
    }
    .posts{
        width: 100%;
    }
    .profile__aside{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }
    .aside__contacts{
        width: calc(100%/2 - 10px);
    }
    .order__body{
        gap: 10px;
    }
    .add-review{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .add-review__section .aside__contacts{
        width: 100%;
    }

    .reviews{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .how-to-work__item{
        width: calc(100%/2 - 14px   );
    }
    .how-to-work__list{
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 990px){
    .header__logo{
        max-width: unset;
        margin-right: 40px;
        width: auto;
    }
    .for-who__list{
        flex-wrap: wrap;
    }
    .for-who__item{
        width: calc(100%/2 - 10px);
    }
    .promo__content--right{
        max-width: 450px;
    }
    .promo__content--left{
        max-width: calc(100% - 470px);
    }
    .promo__content--right .promo-section__title{
        font-size: 24px;
    }
    .section__text{
        font-size: 14px;
    }
    .promo__content{
        padding-right: 40px;
    }
}
@media screen and (max-width: 900px){
    aside{
        display: none;
        transition: all .3s;
    }
    aside.open{
        position: absolute;
        display: block;
        z-index: 999;
        background: #fff;
        min-height: 100vh;
        border-radius: 10px;
        height: 100%;
        box-shadow:1px 4px 5px #0000004a;
    }
    section {
        position: relative;
    }
    .btn__aside{
        display: flex;
        width: 20px;
        height: 20px;
        background: #fff ;
        position: absolute;
        left: 20px;
        top: 5px;
        border-radius: 5px;

        outline: none;
    }
    .btn__aside svg{
        width: 14px;
    }
    .btn__aside.close{
        transform: rotate(180deg);
        z-index: 9999;

    }
    main{
        width: 100%;
    }
    .logo{
        font-size: 24px;
    }
    .menu__link{
        font-size: 14px;
    }

}
@media screen and (max-width: 768px){
    .btn__mobile{
        display: flex;
        width: 20px;
        height: 20px;
        background: url('../images/menu.svg') no-repeat;
    }
    .btn__mobile.close{
        background: url('../images/menu-close.svg') no-repeat;
    }
    .menu{
        display: none;
    }
    .menu.open{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        top: 90px;
        left: 0;
        z-index: 99999;
    }
    .menu__item{
        border-left: 0;
        border-top: 1px solid rgba(100, 116, 139, .2);
    }
    .profile__info{
        flex-direction: column;
        align-items: flex-start;
    }
    .profile__links ul{
        gap: 15px;
    }
    .profile__aside{
        flex-direction: column;
    }
    .aside__contacts{
        width: 100%;
        margin-bottom: 0;
    }
    .car__header{
        display: none;
    }
    .order__body{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .promo-features__content{
        flex-direction: column;
    }
    .promo-features__left{
        min-height: 200px;
        max-width: 100%;
    }
    .promo-features__right{
        max-width: 100% ;
    }
    .promo-reviews__list{
        flex-direction: column;
    }
    .promo__content{
        flex-direction: column;
        padding: 30px;
    }

    .footer__content{
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer__col{
        width: 45%;
    }
    .footer__copyright{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .filter__row{
        flex-direction: column;
    }
    .select-items div, .select-selected{
        width: 100%;
    }
    .input__block{
        width: 100%;
    }
    .filter__input{
        width: 100%;
    }
    .promo-banner__title{
        font-size: 30px;
    }
    .feature__item{
        width: 100%;
    }
    .promo-how-to-work{
        padding-top: 40px;
    }
    .promo-for-who, .promo-faq, .promo-seo{
        padding-top: 40px;
    }
    footer{
        margin-top: 40px;
    }
    .promo {
        padding-top: 40px;
    }
    .for-who__item{
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .for-who__item .btn__registration{
        margin-top: 40px;
    }
    .promo-seo__content{
        padding-left: 30px;
        padding-right: 30px;
    }
    header .btn__login{
        font-size: 14px;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__actions .btn__registration{
        font-size: 14px;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .promo-banner__content{
        padding: 30px;
    }
    .promo-reviews{
        padding-top: 40px;
    }
}
@media screen and (max-width: 480px){
    .footer__menu{
        min-width: auto;
    }
    .header__actions{
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
    .profile__buttons{
        flex-direction: column;
    }
    .profile__buttons .btn__gray{
        height: 32px;
    }
    .profile__buttons .btn__more-info{
        height: 32px;
    }
    .profile__links ul{
        overflow: auto;
        height: 100%;
        white-space: nowrap;
    }

    .review__user--info{
        flex-direction: column;
    }
    .review__date{
        margin-left: auto;
    }
    .review__user--info{
        position: relative;
    }
    .review__user--info .btn__post-more{
        position: absolute;
        top: 10px;
        right: 0;
    }
    .how-to-work__item{
        width: 100%;
    }
    .footer__col{
        width: 100%;
    }
    .btn__registration{
        padding: 10px 20px;
        font-size: 14px;
        text-align: center;
    }
    .registration__content{
        padding: 30px 20px;
    }
    .registration__text{
        font-size: 14px;
    }
    .form__row .select-selected{
        font-size: 14px;
    }
}